
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Upcoming Applications{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    {{#paper-list}}
      {{#paper-subheader}}Upcoming Applications{{/paper-subheader}}
      {{#each model as |award|}}
        {{paper-divider}}
        {{#paper-item class="md-3-line"}}

          <div class="md-list-item-text">
            <h2>{{item.title}}</h2>
            <h4>
              <div>Applicants:
                {{#each item.typeofapplicant as |applicant|}}
                  {{applicant}}
                {{/each}}
              </div>
            </h4>
            <p>Deadline: {{item.subm_deadline}}</p>
          </div>


        {{/paper-item}}
        {{paper-divider}}
      {{/each}}
    {{/paper-list}}
  {{/card.content}}
{{/paper-card}}
