<h1>Register</h1>

 <div class="field">
   <div class="field">
    <label>first name</label>
    {{input value=firstname type="password"}}
    {{display-errors errors=errors.firstname showErrors=showErrors}}
   </div>
   <div class="field">
    <label>lastname</label>
    {{input value=password type="lastname"}}
    {{display-errors errors=errors.lastname showErrors=showErrors}}
  </div>
   <label>User Name</label>
   {{input value=userName}}
   {{display-errors errors=errors.userName showErrors=showErrors}}
  </div>
<div class="field">
  <label>Password</label>
  {{input value=password type="password"}}
  {{display-errors errors=errors.password showErrors=showErrors}}
</div>
<div class="field">
  <label>Email</label>
  {{input value=password type="email"}}
  {{display-errors errors=errors.email showErrors=showErrors}}
</div>
<div class="field">
  <label>Dept</label>
  {{input value=password type="dept"}}
  {{display-errors errors=errors.dept showErrors=showErrors}}
</div>
<div class="field">
<label>Org</label>
{{input value=Org type="Org"}}
{{display-errors errors=errors.dept showErrors=showErrors}}
</div>
<div class="field">
<label>college</label>
{{input value=Org type="college"}}
{{display-errors errors=errors.dept showErrors=showErrors}}
<label>other</label>
{{input value=Org type="other"}}
{{display-errors errors=errors.dept showErrors=showErrors}}

</div>
<div class="btn btn-primary" {{action 'register'}}>Register</div>


{{outlet}}
