<div class="layout-column flex layout-align-center-center">
  {{#paper-card class="landing-page-card" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Register for WiSTEM Award Tracker{{/text.headline}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      {{#paper-form onSubmit=(action "register") as |form|}}
        <div class="layout-row">
          {{form.input class="flex" label="Username" value=model.username onChange=(action (mut model.username))}}
        </div>
        <div class="layout-row">
          {{form.input class="flex" label="Password" type="password" value=model.password onChange=(action (mut model.password))}}
          {{form.input class="flex" label="Confirm Password" type="password" value=confirmpassword onChange=(action (mut confirmpassword))}}
        </div>
        <div class="layout-row">
          {{form.input class="flex" label="Email" value=model.email onChange=(action (mut model.email))}}
          {{form.input class="flex" label="Confirm Email" value=confirmemail onChange=(action (mut confirmemail))}}
        </div>
        <div class="layout-row">
          {{#form.submit-button class="flex" raised=true onClick=(action "register")}}Register{{/form.submit-button}}
        </div>
      {{/paper-form}}
    {{/card.content}}

  {{/paper-card}}
</div>
