<div class="jumbo">
  <div>

  {{paper-input class="flex-30" label="Award Title" value=title onChange=(action (mut title))}}
    <p>
       Stem Fields:
      {{#power-select-multiple options=model.stemfields selected=stemfield placeholder="Select some names..." onchange=(action (mut stemfield)) as |stemfields|}}
        {{stemfields}}
      {{/power-select-multiple}}
    </p>
  {{#paper-button onClick=(action "flatButton" title stemfield)}}Search{{/paper-button}}
  </div>
  <div>
  {{#paper-list}}
    {{#each model.awards as |item|}}
      {{#paper-item onClick=(action "openDialog" item) class="md-4-line"}}
        {{award-listing item=item}}
      {{/paper-item}}
    {{/each}}
  {{/paper-list}}
  </div>
</div>


{{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>{{selectedAward.title}}</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      {{award-display selectedAward=selectedAward}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "closeDialog" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}



